
<div class="container  p-5 " dir="rtl">
  <div class="row mb-5">
    <div class="col-6">
      <h2 class="d-flex justify-content-right">تذكرة داود</h2>
    </div>
    <div class="col-6 float-right">
      <button class="m-2" (click)="changeFont('+')">+</button>
      <button class="m-2" (click)="changeFont('-')">-</button>
    </div>
  </div>
  <div class="row  ">

  </div>
  <div class="row mt-2 float-right">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
